<div class="left_contents">
  <div class="tab-menu">
   <ul class="tab-selector">
      <li class="selected user_tab">
        <h2><p><%= current_user.nickname %>さんのマイページ</p></h2>
      </li>
    </ul>
  </div>
  <div class="fav_comics clearfix comic_tiles">
    <% @fav_comics.each do |comic| %>
      <div class="comic_info clearfix">
        <%= render partial: "comics/comic", locals: {comic: comic } %>
      </div>
    <% end %>
  </div>
</div>
