<div class="left_contents">
  <div class="tab-menu">
    <ul class="tab-selector">
      <li id="sun">日曜</li>
      <li id="mon">月曜</li>
      <li id="tue">火曜</li>
      <li id="wed">水曜</li>
      <li id="thu">木曜</li>
      <li id="fri">金曜</li>
      <li id="sat">土曜</li>
    </ul>
    <div class="main_contents">
      <% @weekdays.each_with_index do |week,i| %>
        <div class="<%= week %> wday_content clearfix ">
          <% @comics.where(weekday: i).each do |comic| %>
            <div class="comic_info clearfix">
              <%= render partial: "comic", locals: {comic: comic } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
