.comic-tile {
  min-width: $tileWidth;
  height: $tileHeight;
  padding: $tileMargin;
  margin: $tileMargin;
  border-radius: 5px;
  background-color: #fff;
  float: left;
  @include clearfix;
}

.comic-tile__thumbnail {
  position: relative;
  height: $tileContentHeight;
  width: $tileContentHeight;
  float: left;
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: calc(100% - #{$tileMargin});
}

.comic-tile__right {
  height: $tileContentHeight;
  width: $comicInfoWidth;
  float: left;
  padding-left: 5px;
}

.comic-info {
  font-size: 14px;

  p {
    line-height: $tileContentHeight / 4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  &__author {
  }

  &__links {
    @include clearfix;
    li {
      padding-right: 10px;
      float: left;
    }
  }
}
