
div.left_contents{
  width: 900px;
  margin:0 auto;
  background-color: #fff;
}

.tab-menu{
  width: 800px;
  margin-left: 10px;

  ul.tab-selector{
    margin: 10px 0 0 0;
    padding-left: 4px;
  }

  .tab-selector li{
    display: inline-block;
    width: 88px;
    height: 22px;
    padding: 10px 10px 0;
    cursor: pointer;
    background-color: #CCCCCC;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    box-sizing: content-box;

    &.selected{
      background-color: #FF7675;
      color: #fff;
    }

    &.user_tab{
      width: 250px;
    }
  }

}

.wday_content{
  display: none;
  background-color: #FF7675;
}

div.main_contents div.selected{
  display: block;
}

