<!DOCTYPE html>
<html>
  <head>
    <title>Weebcomic</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="site_title">
        <h1><a href="/" data-no-turbolink="1">weebComic</a></h1>
      </div>
      <div class="user_nav">
      </div>
    </header>

    <%= yield %>

  </body>
</html>
